.LayMain{
    background:#eee;
    min-height:100vh;
    width:100vw;
    display:flex;
}
.LayLeft{
    flex:1;
    height:100vh;
    overflow-y:scroll;
    background:#8b60bd;
    /* padding-bottom:150px; */
}

.LayRight{
    flex:3
}